h1.story{
    border-bottom: 3px solid rgba(23, 162, 184, 0.5);
    width: 340px;
    padding-bottom: 7px;
    margin-left: 780px;
}

a .story{
    font-family: 'Montserrat', sans-serif;
    color: #2A363B;
    text-decoration: none;
}

a{
    font-family: 'Nunito', sans-serif;
    color: #17a2b8;
    margin-top: 40px; 
}

span a{
    margin-top: 10px; 
}