<!--Section: Products v.2-->
<section class="text-center pb-3 my-5">
    <!--Section heading-->
    <hr class="hr">
<div class="container-fluid story-telling">
<a href=""><h1 class="story text-center">Nos vélos</h1></a>
</div>
<hr class="hr">
    <!--Section description-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="./assets/img/holland-5002.jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>VTC</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">Windspeeder 500</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="text-center">
                <a>1200 &euro;</a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="./assets/img/model2.jpg"
              alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Vélo de ville</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">Citycruiser 800</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
                <span class="text-center">
                    <a>1200 &euro;</a>
                </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="./assets/img/model3.jpg"
              class="img-fluid" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->
            <a href="" class="text-muted">
              <h5>Vélo de ville</h5>
            </a>
            <mdb-card-title>
              <h4>
                <strong>
                  <a href="">Cityslider 600</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Description-->
            <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
                <span class="text-center">
                    <a>1200 &euro;</a>
                </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>

      <div class="col-lg-4 col-md-6 mb-3">
          <!--Card-->
          <mdb-card cascade="true" wider="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="./assets/img/holland-5003.jpg"
                class="img-fluid" alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Vélo de ville</h5>
              </a>
              <mdb-card-title>
                <h4>
                  <strong>
                    <a href="">Hyperslider 200</a>
                  </strong>
                </h4>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
              <!--Card footer-->
              <mdb-card-footer>
                  <span class="text-center">
                      <a>1200 &euro;</a>
                    </span>
              </mdb-card-footer>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>

        <div class="col-lg-4 col-md-6 mb-3">
            <!--Card-->
            <mdb-card cascade="true" wider="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="./assets/img/holland-500.jpg"
                  class="img-fluid" alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <!--Category & Title-->
                <a href="" class="text-muted">
                  <h5>VTC</h5>
                </a>
                <mdb-card-title>
                  <h4>
                    <strong>
                      <a href="">Windspeeder 800</a>
                    </strong>
                  </h4>
                </mdb-card-title>
                <!--Description-->
                <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
                <!--Card footer-->
                <mdb-card-footer>
                    <span class="text-center">
                        <a>1200 &euro;</a>
                    </span>
                </mdb-card-footer>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>

          <div class="col-lg-4 col-md-6 mb-3">
              <!--Card-->
              <mdb-card cascade="true" wider="true" class="card-ecommerce">
                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="./assets/img/holland-5001.jpg"
                    class="img-fluid" alt="sample photo"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->
                <!--Card content-->
                <mdb-card-body cascade="true" class="text-center no-padding">
                  <!--Category & Title-->
                  <a href="" class="text-muted">
                    <h5>Vélo de ville</h5>
                  </a>
                  <mdb-card-title>
                    <h4>
                      <strong>
                        <a href="">Gardencruiser 200</a>
                      </strong>
                    </h4>
                  </mdb-card-title>
                  <!--Description-->
                  <mdb-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</mdb-card-text>
                  <!--Card footer-->
                  <mdb-card-footer>
                      <span class="text-center">
                          <a>1200 &euro;</a>
                      </span>
                  </mdb-card-footer>
                </mdb-card-body>
                <!--Card content-->
              </mdb-card>
              <!--Card-->
            </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Products v.2-->