<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href=""><i class="fas fa-bicycle"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav centre mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vélos" routerLinkActive="active">Vélos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="accessoires" routerLinkActive="active">Accessoires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="inscription" routerLinkActive="active">S'inscrire</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 searchbar" type="text" placeholder="Rechercher...">
        <button class="btn btn-info my-2 my-sm-0 searchbutton" type="submit">Rechercher</button>
      </form>
    </div>
  </nav>