@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://fonts.googleapis.com/css?family=Poppins:700');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

@import url('https://fonts.googleapis.com/css?family=Nunito');

body, html {
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}