<div class="limiter">
<!-- Le carousel  -->
<div class="container-fluid">

  <div class="row">
    <div class="col-12">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="./assets/img/veloform4.jpg" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="./assets/img/veloform9.jpg" alt="Second slide">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="./assets/img/veloform7.jpg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <div class="jumbotron jumbotron-1 jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Nouveaux modèles</h1>
              <p class="lead">Nos nouveaux modèles dame fabriqué en hollande.</p>
            </div>
          </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <div class="jumbotron jumbotron-2 jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Collection vélos d'hiver</h1>
              <p class="lead">Des modèles de vélos fidèles et tenaces. Roulez dans n'importe quelle condition avec style.</p>
            </div>
          </div>
    </div>
  </div>
</div>

<hr class="hr">
<div class="container-fluid story-telling">
<a href=""><h1 class="story text-center">Notre histoire</h1></a>
</div>
<hr class="hr">

<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="media">
            <img src="..." class="align-self-start mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">Top-aligned media</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
              <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
    </div>
  </div>
</div>


  
  

</div>





